
body{
    background-color: #4682B4;
    /*background-image: url(img/arvores.jpg);*/
}
table,td,tr{
    border: 1px solid #000000;
    margin: auto;
    background-color: #B0C4DE;
}
input{
    background-color: #C0C0C0;
    color: #FF0000;
}
label{
    color: #FFFFFF;
    font-family: Arial;
}
h1{
    text-align: center;
    color: #363636;
    font-family: Arial;
    background-color: #DCDCDC;
}