body {

  background-color: #87CEFA;

}


h1 { 
 
  font-size: 65px;
  height: 90px;

 
}







section {
 
  font-size: 20px; 

  
}




option {

  text-align: center ;
}




hr {

    width: 200%;
    height: 1pc;
    border: 0px;
    border-top: 10px solid black;
    
}



